body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}

header {
  background: #222;
  color: white;
  padding: 15px;
}

header a {
  color: white;
  margin-right: 10px;
  text-decoration: none;
}

#productList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  padding: 10px;
}

.card {
  background: white;
  padding: 10px;
  border-radius: 10px;
}
